<a href="https://colab.research.google.com/github/ljm0617/datasciencecoursera/blob/master/fundamental.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello world")

Hello world

simple calculation

In [ ]:
9+3

12

In [ ]:
100*5

500

In [ ]:
-6+5*3

9

activity 1 working with python interactive shell

In [ ]:
print("Happy Birthday")

Happy Birthday

In [ ]:
17+35*2

87

In [ ]:
print(1,2,3,4,5,6,7,8,9)

1 2 3 4 5 6 7 8 9

In [ ]:
print("Hello "*100)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello

In [ ]:
import sys
print("This argument was passed to the script")

This argument was passed to the script

import sys imports the sys module that's built into Python into our module. This module provide access to Python interpreter functions. When we call sys.argv[1], we're asking for the first argument that's been passed when running the script. Generally, you can pass as many arguments as you like by separating each argument with a blank space.

In [ ]:
type(7)

int

In [ ]:
type('7')

str

In [ ]:
str(7)

'7'

In [ ]:
int("100")

100

An error occurs if we try converting a string that doesn't contain an integer. Here, the string "Foobar" can't be converted because it's a string of letters. "3.14159" also fails because it is a float, and not an integer

In [ ]:
number = 7
print(number)

7

In [ ]:
number*5

35

In [ ]:
number = 22
print(number)

22

In [ ]:
#concatenation
text1 = "I love Python"
print(text1,"!"*3)

I love Python !!!

In [ ]:
#multiple assignment
a,b,c = 1,2,3
print(a,b,c)

1 2 3

Below is a simple example to get user assign variable and program use the variable in calculation and finally print out result.

In [ ]:
#User input always return string. Rmb to convert to numeric for calculation
travel_distance = input("How far is the distance in KM? ")
time_taken = input("How long the whole journey take in hour? ")
travel_distance_upt = float(travel_distance)
time_taken_upt = float(time_taken)
speed = travel_distance_upt / time_taken_upt
print("Diving Speed per KM: ", str(speed), " km per hour")

How far is the distance in KM? 15.1036
How long the whole journey take in hour? 0.35
Diving Speed per KM:  43.15314285714286  km per hour

An identifier can consist of upper and lowercase letters of alphabets, underscores, unicode identifiers and digit 0 to 9

In [ ]:
#get help and exit with quit
help()

Welcome to Python 3.6's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.6/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

help> quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

Python naming convention
1. Make the code easy to read and understand
2. Enhance clarity and reduce anbiguity
3. Make automated refactoring easier
4. Provide additional information about the identifier
5. Naming for constants written in capital

Write a script to calculate the area and circumstance of a circle of radius of 7

In [ ]:
r = 7
pi = 3.14159
area = pi * r**2
circumstance = 2 * pi * r
print("Area is ", area, "and Circumstance is ", circumstance)

Area is  153.93791 and Circumstance is  43.98226

User input message

In [ ]:
tongue_twitter=input("Entee a tongue twittee: ")
print(tongue_twitter)

Entee a tongue twittee: US Election 2020
US Election 2020

In [ ]:
#find square root
number = int(input("Find the square root of: "))
print("The square root of", "is", number**2)

Find the square root of: 5
The square root of is 25

In [ ]:
#multiple assignment
name,hobby = input("What is your name? "), input("What is your hobby? ")
print(name,"likes to",hobby)

What is your name? JM
What is your hobby? Jogging
JM likes to Jogging

Block and Inline Comments start with a pound sign #

Documentation Srring or docstring is a literal string used as Python comment. Wrapped within triple quotation marks """ or '''. They ared used to ducunent modules, functions and class definition.

Indentation is a block - a group of statements that are meant to be executed together.It's the fundamental aspect of modern orogramming language since flow of control structures.

In [ ]:
""" The script can be called with two integer argument to return sum.
Docstring supports multiple line """

num1 = 5
num2 = 6
print(num1,"+",num2,"=",num1+num2)

5 + 6 = 11

In [4]:
#integer can be any whole number, euther positive or negative
#Python have no limit to how large an integer can be
integer = 48
negative_integer = -35
print(type(integer))
print(type(negative_integer))

<class 'int'>
<class 'int'>

In [8]:
#Floating point number or float
n = 13.3333
print(n)

#import built in library math to access different mathematical function and constants.
import math
print(type(math.pi),math.pi)
print(type(math.e),math.e)

#convert integer to float
float(23)

13.3333
<class 'float'> 3.141592653589793
<class 'float'> 2.718281828459045

23.0

In [21]:
#Altrernative number ststem: binary, hexadecimal and octal number, as opposed to common decimal number system

#Binary expressed in base 2, which use only 0S and 1S to represent number
#Binary starts with prefix 0b
print("0b111 equivalent to", 0b111) 
print("0b10 equivalent to",0b10) 
print("0b1000 equivalent to",0b1000) 

#Hexadecimal numbers expressed in base 16
#symbol are 0,1,2,3,4,5,6,7,8.9,a,b,c,d,e,f
#Start with prefix 0x.
print("0xf equivalent to",0xf)
print("0x9ac equivalent to", 0x9ac)
print("0xaf equivalent to",0xaf)

#Octal number which are base 8
#Use 0 to 7 to represent number
#start with prefixed 0o
print("0o20 equivalent to",0o20 )
print("0o200 equivalent to",0o200)
print("0o113 equivalent to", 0o113)

#Number conversion
print(bin(700))
print(hex(700))
print(oct(700))

0b111 equivalent to 7
0b10 equivalent to 2
0b1000 equivalent to 8
0xf equivalent to 15
0x9ac equivalent to 2476
0xaf equivalent to 175
0o20 equivalent to 16
0o200 equivalent to 128
0o113 equivalent to 75
0b1010111100
0x2bc
0o1274

In [1]:
number = input("Convert to binary: ")

#Convert the input to integer
integer = int(number)

#Convert integer to binary
binary = bin(integer)

print(binary)

Convert to binary: 74
0b1001010

In [2]:
#Classic division and floor division

print("Classic division of 6 / 1.25 :",6/1.25)
print("Floor division of 6 // 1.25 :", 6 // 1.25)

Classic division of 6 / 1.25 : 4.8
Floor division of 6 // 1.25 : 4.0

In [3]:
#Assignment operator
"""
+=    x+=7     x=x+7
-=    x-=7     x=x-7
**=   x••=7    x=x**7
etc...
"""

x = 10
x += 1 #equivalent to x = x +1 
print(x)

11

In [6]:
"""
Order of Operation
parenthesis > exponential > 
multiplication / division >
addiition / subtraction
"""

'\nOrder of Operation\nparenthesis > exponential > \nmultiplication / division >\naddiition / subtraction\n'

In [7]:
5*(4-2) + (100 / (5 / 2)*2)

90.0

In [10]:
#Convert to days
integer = int(input("Give me an whole number: "))
year = integer // 365
days = (integer % －365) // 1
print(year, "years", days, "days")

Give me an whole number: 1000
2 years 270 days

In [14]:
#String
#Multiline : Enclosing character in triple quote"
s = """hello
world"""
print(s)

#Use asterik to repeat character
print('Alibaba and the', 'thieves '*20)

#Use + operator to concatenate
"I " + "love " + "Python" # No space added

hello
world
Alibaba and the thieves thieves thieves thieves thieves thieves thieves thieves thieves thieves thieves thieves thieves thieves thieves thieves thieves thieves thieves thieves

'I love Python'

In [21]:
#Indexing in Python
s = "I love Python!"
print(s[0], s[-1], s[5:10], s[-5:-1])
print(s[:3], s[3:], s[-4:])

I ! e Pyt thon
I l ove Python! hon!

In [22]:
"Living in a silent falm"[5]

'g'

In [23]:
"[8,9,100]"[4]

','

In [27]:
question = "your name"
print(len(question))

9

In [30]:
#String interpolation is the process of evaluating a string that has placeholder
#f-strings (formatted string)
pie = 3.14
f"i are some {pie} and it was yummmy"

'i are some 3.14 and it was yummmy'

In [33]:
number = 7
f"7 + 1: {number + 1}"

'7 + 1: 8'

In [2]:
#str.format() method
fruit = "banana"
"I love {}".format(fruit)

year = 10
age = 40
"in {} years, i will be {}".format(year,age)

'in 10 years, i will be 40'

In [7]:
#string method
print("capitalize".capitalize())
print("LOWER".lower())
print("upper".upper())
print("startswith".startswith("St")) #case sensitive
print("endwith".endswith("th"))
print(" strip strip ".strip()) #only check for start and end
print("rip strip strip".strip("rip"))
print("replace".replace("ace","ay"))

#help(str) for more info

Capitalize
lower
UPPER
False
True
strip strip
 strip st
replay

In [4]:
#working with string
#substrings in a string can be accessed by slicing - index
string = input("Please enter a line of string: ")
last_num_convert = int(input("How many last number of characters to be converted? "))
length_used = len(string)-last_num_convert
string1 = string[:length_used]
string2 = string[length_used:]
#print(string1)
#print(string2)
print(f"{string1}{string2.upper()}")

Please enter a line of string: Hello world
How many last number of characters to be converted?3
Hello wo
rld
Hello woRLD

In [7]:
#Escape character backslash
print("hello\nworld") #\n new line
print('what\'s your name?') #Escape quote, place before quote so they are not interpreted as open or close quote
print("Try double \\") #Double backslash interpretted as one
print("hello\aworld") #bel
print("hello\bworld") #backspace - delete previous character
print("hello\fworld") #formfeed
print("hello\rworld") #Carriage return - return the string adter \r only
print("hello\tworld") #horizontal tab
print("hello\vworld") #vertical tab

hello
world
what's your name?
Try double \
helloworld
helloworld
helloworld
world
hello	world
helloworld

In [9]:
#break sentence and print all the world on its own line
sentence = input("Sentence: ")
sentence = sentence.replace(" ","\n")
print(sentence)

Sentence: Hello world I miss
Hello
world
I
miss

In [14]:
#count number of specific text
string = input("Kindly provide a sentence to examine: ")
query = input("Words to look for: ")
string1 = string.strip().lower()
string2 = query.lower()
count = string1.count(string2)
print(count)

Kindly provide a sentence to examine: The house at the
Words to look for: The
2

In [25]:
#Python list is heterogeneous, hold different data type
#Mutable: can change the value inside of them, adding and removing
#Make with comma-separated element, enclosed within square bracket
digits = [1,3,5,7,9]
print(digits)
digit_letters = [1,3,5,"a","b","c",["list1","list2"]]
print(digit_letters)
print(len(digit_letters))

#indexing and slicing
print(digit_letters[1:-2])

#Concatenation
print(digits + digit_letters)

#mutable
digits[3] = 2
print(digits)
digits.append(6)
print(digits)

#when assign a list, it point it too an object in memory
#if assign another variable to the variable that reference the list, new variable reference the same list in memory
#any change made using either references will change the same list
digits2 = digits
digits2[0] = "a"
print(digits2)
digits2 == digits

[1, 3, 5, 7, 9]
[1, 3, 5, 'a', 'b', 'c', ['list1', 'list2']]
7
[3, 5, 'a', 'b']
[1, 3, 5, 7, 9, 1, 3, 5, 'a', 'b', 'c', ['list1', 'list2']]
[1, 3, 5, 2, 9]
[1, 3, 5, 2, 9, 6]
['a', 3, 5, 2, 9, 6]

True

In [31]:
#working with list
list1 = [55,12,37,831,57,16,93,44,22]
print(list1)
n_element = int(input("Number of elements to fetch: "))
print(list1[0:n_element])

[55, 12, 37, 831, 57, 16, 93, 44, 22]
Number of elements to fetch: 4
[55, 12, 37, 831]

In [33]:
#Boolen: True or False
fruits = ["banana","mango","apple"]
want_fruit = True
print(len(fruits) > 0 and want_fruit)
print(len(fruits) > 0 and not want_fruit)
print(len(fruits) > 0 or want_fruit)

True
False
True

In [35]:
#Membership operator - in / not in
number = [5,6,7]
print(3 not in number)

string = "Bla bla black sheep"
print("black" in string)

True
True

In [44]:
n = 124
if n % 2 == 0:
  print("Even")

letter = "b"
if letter not in ["a","e","i","o","u"]:
  print(f"{letter} is not a vowel.")
  print("{} is not a vowel.".format(letter))

Even
b is not a vowel.
b is not a vowel.

Control statement
- control program execution flow: if and while
- implement branching within looping structure: for and range
- a structure in code that conditionally changes the program flow

In [47]:
#if statement
release_year = '1991'
answer = input('when was Python first released? ')
if answer == release_year:
  print("Congratulations. That is correct.")
elif answer > release_year:
  print("No, that\'s too late")
else:
  print('No, that\'s too early')

print("Bye!")

#modify the above
answer1 = input("Return TRUE or FALSE: Python was released in 1991. ")
if answer1 == "TRUE":
  print("Correct")
else:
  print("Wrong")

when was Python first released?1991
Congratulations. That is correct.
Bye!
Return TRUE or FALSE: Python was released in 1991TRUE
Correct

In [49]:
#While statement allows you to execute a block of code repeatedly
#while has associated else clause

current = 1
end = 10

while current <= end:
  print(current)
  current += 1
else:
  print("You have reached the end.")

1
2
3
4
5
6
7
8
9
10
You have reached the end.

In [50]:
release_year = '1991'
correct = False

while not correct:
  answer = input('When was Python first releases? ')
  if answer == release_year:
    print('Congratulation! That\'s correct')
    correct = True
  else:
    print('No, that\'s not it. Try again\n')

print('Bye!')

When was Python first releases? 1963
No, that's not it. Try again

When was Python first releases? 19 98
No, that's not it. Try again

When was Python first releases? 2001
No, that's not it. Try again

When was Python first releases? 1991
Congratulation! That's correct
Bye!

In [2]:
#working with while
correct = False
password = "abc123"

while not correct:
  random = input("Please enter your password: ")
  if random == password:
    print("Welcome back user!")
    correct = True
  else:
    print("Invalid password, try again...\n")

#if statement branch execution of code once based on condition
#while run a block of code multiple times as long as a condition evaluates to True
#in this sense, while starement can be considered as loop

Please enter your password: An,
Invalid password, try again...

Please enter your password: abc123
Welcome back user!

In [7]:
#loop is a way to execute a specific ock of code several times
#iterable is anything that can be looped over, eg for x in iterable
#iterable can be strings, list, dictionary, file
#for loop is ran at predetermined number of times while in a while starement, code run arbitary number if times as long as a condition is sarmtisfued

numbers = [1,2,3,4,5,6,7,8,9,10]
for num in numbers:
  square = num * num
  print(num,'squared is',square)
else: #same as while,this is optional
  print("The last number was", num)

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36
7 squared is 49
8 squared is 64
9 squared is 81
10 squared is 100
The last number was 10

In [14]:
#range([start],stop,[step])
#range 10 means 0 to 10 not including 0
print(range(10))
print(list(range(10)))
print(list(range(1,11,2)))

for num in list(range(1,11,2)):#same redsult as without list function
  squared = num *num
  print(f"{num} squared is {squared}")

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
1 squared is 1
3 squared is 9
5 squared is 25
7 squared is 49
9 squared is 81

In [15]:
total = 0
for num in range(2,101,2):
  total = total + num
print(total)

2550

In [17]:
#Nesting is the practice of placing loops inside other loop
#Use case: To assess data inside a complex data structure

groups = [[1,2,3],[4,5,6],[7,8,9]]
for group in groups:
  for num in group:
    square = num*num
    print(num,'squared is', square)

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36
7 squared is 49
8 squared is 64
9 squared is 81

In [18]:
for even in range(2,12,2):
  for odd in range(1,11,2):
    print(f"{even} + {odd} = {even + odd}")

2 + 1 = 3
2 + 3 = 5
2 + 5 = 7
2 + 7 = 9
2 + 9 = 11
4 + 1 = 5
4 + 3 = 7
4 + 5 = 9
4 + 7 = 11
4 + 9 = 13
6 + 1 = 7
6 + 3 = 9
6 + 5 = 11
6 + 7 = 13
6 + 9 = 15
8 + 1 = 9
8 + 3 = 11
8 + 5 = 13
8 + 7 = 15
8 + 9 = 17
10 + 1 = 11
10 + 3 = 13
10 + 5 = 15
10 + 7 = 17
10 + 9 = 19

In [21]:
#Breaking rule: break, continue, pass
#break statment allow us to exit a loop based on external trigger;
#break used in conjunction with if statement
for num in range(1,11):
  #if number == 4, exit loop
  if num == 4:
    break
  product = num * 2
  print(num,"* 2 =", product)

print("Loop completed")

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
Loop completed

In [23]:
#continue statement allow us to skip over the part of a loop where an external condition is triggered, but goes on to complete the rest of the loop.
#same as break statement, used in conjunction with conditional if statement
for num in range(1,11):
  if num == 4:
    continue
  product = num * 2
  print(num, '* 2 =', product)

print('Loop completed')

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20
Loop completed

In [26]:
#pass statement allow us to handke external trigger condition without affecting the execution of loop
#same as break and continue, it usually used in conjuction with conditional if statement
for num in range(1,11):
  if num == 4:
    pass
  product = num * 2
  print(num,'* 2 =', product)

print('Loop completed')

#Pass simply tells the program proceeds as normal
#It's also mostly used as placeholder

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20
Loop completed

In [30]:
#Breaking out loop activity
for num in range(0,200):
  if num == 0 or num % 3 != 0:
    continue
  print(num)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198

In [38]:
#Functions are an easy way to group a few line of code that implement a functionality together
#Mini program within bigger problem that implement specific task
#Functions: Built-in function, User-defined function, Anonymous function
""" Step to define function
1. def follow by function name
2. add parameter to the function within parenthesis, end the function definition with full colon:
3. write the logic of the function
4. use return keyword to return the output of the function. 
#4 is optional. if return is not included, the function automatically return None
"""

def calculate_monthly_average_rainfall(listing):
  counter = 0
  total = 0
  for num in listing:
    total += num
    counter += 1
  avg = total / counter
  return avg

average = calculate_monthly_average_rainfall(range(11))
print(f"Average is {average}.")

Average is 5.0.

In [39]:
#local variable is variable defined inside of a function body
#global variable is variable defined outside of a function body

number = 5

def summation(first,second):
  total = first + second + number
  return total

num1, num2 = int(input('What\'s first number? ')), int(input('What\'s second number? '))
summ = summation(num1,num2)

print(f"The first number we initialized was {number}.")
print(f"The total after summation is {summ}.")

#take note that we cant call "total" variable in print as it's local variable

What's first number? 10
What's second number? 20
The first number we initialized was 5.
The total after summation is 35.

In [42]:
#return statement is required if we need to use the result of calling a function for any further processing in your code
#below example do not use return

def multiplication(num1,num2):
  result = num1 * num2
  print(f"{num1} * {num2} get {result}")

multiplication(3,3)
print("testing")

3 * 3 get 9
testing

In [47]:
#most language requires a special function, called main() to tell operating system which code to execute when a program is invoked
#not necessary in Python but it's a good and logical way to strymucture a program
#before Python interpreter executes our program, it defines a few special variables
#eg: __name__ which will automatically set to __main__ if program will be executed by itself, in a standalone fashion
#if it's imported by another program, then __name__ will be set to the name of that program
#from that we can easily determine whether the program is standalone or is being used by another program as an import

def summation(num1,num2):
  total = num1 + num2
  return total

def main():
  outer_total = summation(10,20) * 2
  print("Double the total is " + str(outer_total))

if __name__ == "__main__":
  main()

__name__

Double the total is 60

'__main__'

Function arguments
- though parameters are commonly referred to as arguments, argunents are thought of more as the actual values or references assigned to the parameter variable when a function is called at runtime
- arguments are to functions as ingredients are to recipe
- several types of argument: Required argument, Keyword argument, Default argunent, A variable number of argument

Required argument are argument that have to be present when calling a function
- def division(first, second):
     return first/second
- we need to pass argument first and second for the function to work

Keyword argument when it's necessary for all if the parameter in the right order
- def division(first,second):
     return first/second
  quotient = division(second=2,first=10)
  print(quotient)

Default argument take default value if no argument calue is passed during the function call
- assign using assignment operator "="
- def division(first,second=2):
     return first/second
  quotient = division(10)
  print(quotient)

variable number of arguments when we want to allow a function to receive any number of variable, and process them
- use *args
- def addition(*args):
     total = 0
     for i in args
         total += i
     return total
  answer = addition(20,10,5,6)
  print(answer)

In [48]:
def print_arguments(*args):
  for item in args:
    if type(item) == int:
      continue
    print(item)

print_arguments(2,3.4,"s",1.0)

3.4
s
1.0

In [7]:
#lambda function - anonymous function in Python
#don't require to be named in definition
#only required where are defined, not to be called in other part of code base
#lambda argument_list: expression

answer = lambda first,second: first + second
print(answer(1,2))

#used with map(), reduce() or filter()
#map(func,iterable)

number = [1,3,5,7,9]
squared = []
for num in number:
  squared.append(num**2)
print(squared)

squared = map(lambda num: num**2,number)
print(list(squared)) #Above will yield map object, we cast this to a list using list function

3
[1, 9, 25, 49, 81]
[1, 9, 25, 49, 81]

In [9]:
answer = lambda number,power: number**power
print(answer(2,4))

16

List and Tuple

- list are also known as array in other programming
- unlike other programming, list in python not necessary be same data type
- properties: they are ordered, contain object of arbitrary type, element of a list can be assessed by index, have variable size, mutable

- tuple used to multiple related object
- similar to list but they aren't mutable

In [39]:
#list syntax []
#list method
list1 = []
list1.append(5)
list1.extend("12345")
print(list1)

list1.insert(0,"a")
list1.remove(5)
list1.pop(1)
print(list1)
print(list1[1])

list1.clear() #del a[:]
list1.extend("13579131517")
list1.index("5")
print(list1)
list1.count("3")
list1.sort(key= None,reverse=True)
print(list1)
list1.copy()

[5, '1', '2', '3', '4', '5']
['a', '2', '3', '4', '5']
2
['1', '3', '5', '7', '9', '1', '3', '1', '5', '1', '7']
['9', '7', '7', '5', '5', '3', '3', '1', '1', '1', '1']

['9', '7', '7', '5', '5', '3', '3', '1', '1', '1', '1']

In [44]:
wild = ["lion","zebra","panther","antelope"]
animal = []
animal.extend(wild)
animal.insert(2,"cheetah")
animal.pop(1)
animal.insert(1,"giraffe")
animal.sort(key=None,reverse=False)
print(animal)

['antelope', 'cheetah', 'giraffe', 'lion', 'panther']

In [7]:
#list comprehensions
#use case: to create a list when each element is the result of some operations applied to each member of another sequence or iterabke object
#syntax: consist of square bracket, followed by for clause, then zero or more if clause
#lambda arguments1,arguments2: expression
#[expression for if]
squared1 = [num**2 for num in range(1,11)]
squared2 = map(lambda num: num**2, range(1,11))
print(squared1)
print(list(squared2))
print(list(squared2)) #immediately turn into empty list
squared3 = map(lambda num: num**2,range(1,11))
squared3_list = list(squared3)
print(squared3_list)
print(squared3_list)
print(squared1 == squared3_list)

squared4 = [num**2 for num in range(1,11) if num%2 == 0]
print(squared4)

squared5 = map(lambda num: num**2 if num%2 == 0 else None, range(1,11))
print(list(squared5))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
True
[4, 16, 36, 64, 100]
[None, 4, None, 16, None, 36, None, 64, None, 100]

In [10]:
#tuple syntax
"""
advantage using tupid rather than list
- better suited for use with diffferent data type
- key for dictionary
- iterating much fasrer  over list
- passing around data you don't want to change
"""
#consist of a number of individual values, separated by comma
#values within parenthesus, not square bracket for list

pets = ("dog","cat")
print(type(pets))

pets2 = pets,"parrot" #nested tuple
print(type(pets2))
print(pets2)

<class 'tuple'>
<class 'tuple'>
(('dog', 'cat'), 'parrot')

In [17]:
vehicle = ("Toyota","BMW","Benz")
print(type(vehicle))

#indexing and slicing tuple 
pets = ("dog","cat","parrot")
print(pets[0])
print(pets[1:])

number = (1,2,3,4,5,6,7,8,9,10)
odd = number[::2] #last digit is step
print(odd)
even = number[1::2]
print(even)

#list comprehension [expression for if]
number_tuple = tuple([i for i in range(1,11)])  #convert resulting list to tuple
number_list = [i for i in range(1,11)]

print(number_tuple)
print(number_list)

<class 'tuple'>
dog
('cat', 'parrot')
(1, 3, 5, 7, 9)
(2, 4, 6, 8, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
#tuple method
pets = ("cat","dog","horse")
print(any(pets)) #to check whether any element in tuple is iterable
print(pets.count("cat"))
print(min(pets))
print(max(pets))
print(len(pets))
print(pets+pets)
#tuple doesn't support assignment, append, extend etc as it's immutable

pets = ("cat","cat","cat","dog","horse")
c = pets.count("cat")
d = pets.count("dog")

if c > 2*d:
  print("There're too many cats here")
else:
  print("Everything is good")

True
1
cat
horse
3
('cat', 'dog', 'horse', 'cat', 'dog', 'horse')
There're too many cats here